<h1><%=t "title.profile" %></h1>
<p><%= "#{User.human_attribute_name :name}：#{current_user.name}" %></p>
<p><%= "#{User.human_attribute_name :email}：#{current_user.email}" %></p>
<%= link_to t("links.edit"), edit_user_path(current_user) %>
