<h1><%=t "titles.profile" %></h1>
<p><%= "#{t('views.name')}：#{current_user.name}" %></p>
<p><%= "#{t('views.email')}：#{current_user.email}" %></p>
<%= link_to t("links.edit"), edit_user_path(current_user) %>
