<% if resources.errors.any? %>
  <div class="error_explanation">
    <div class="alert alert-danger">
      <%=t "flash.errors_count", count: resources.errors.count %>
    </div>
    <ul>
    <% resources.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
