<h1>単語一覧</h1>
<ol>
<% @words.each do |word| %>
  <li>
    <%= link_to word.content, word %> |
    <%= link_to "理解したサイトを見る",
                word.knowledges.first.url, target: "_blank" %> |
    <%= link_to "編集", edit_word_path(word) %> |
    <%= render "shared/delete_link", resources: word %>
  </li>
<% end %>
</ol>
