<h1>単語一覧</h1>
<ul class="word-index">
  <% @words.each do |word| %>
    <li>
      <h2><%= link_to word.content, word %></h2>
      <div>
        <% if word.knowledges.any? %>
          <%= link_to "理解したサイト",
                      word.knowledges.first.url, target: "_blank" %> |
        <% end %>
        <%= link_to "編集", edit_word_path(word) %> |
        <%= render "shared/delete_link", resources: word %>
      </div>
    </li>
  <% end %>
</ul>
