.knowledge_index {
  ul {
    font-size: 20px;
    padding: 0;
    li {
      list-style:  none;
      padding: 20px 0;
      border-bottom: 1px solid lightgray;
      &:last-child {
        border: none;
      }
      .understanding {
        color: #f39800;
      }
      .menus {
        text-align: right;
        a {
          margin-left: 10px;
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
