// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*    Word index     */

ul.word-index {
  padding: 0;
  list-style: none;
  h2 {
    font-size: 20px;
  }
  li {
    margin-bottom: 15px;
  }
}

/*    Word show    */

ol.word-show {
  padding-left: 30px;
  li{
    margin-bottom: 15px;
  }
}
